[submodule "library/fluidgraph"]
	path = library/fluidgraph
	url = https://github.com/fluidlog/fluidgraph
[submodule "library/LDP-framework"]
	path = library/LDP-framework
	url = https://github.com/Open-Initiative/LDP-framework.git
