@font-face {
    font-family:        bebas;
    src:                url('resources/fonts/BebasNeue.otf');
}

@keyframes linedraw {
    from    {stroke-dashoffset: 1000;}
    to      {stroke-dashoffset: 0;}
}

body  {
    color:              rgb(253, 200, 21);
    stroke:             rgb(253, 200, 21);
    fill:               rgb(253, 200, 21);
    font-family:        helvetica, sans-serif;
}

line  {
    opacity:            0.6;
    stroke-dasharray:   1000 1000;
    stroke-dashoffset:  1000;
    animation:          linedraw forwards;
}

.node-name {
    font-family:        bebas, sans-serif;
    font-size:          32px;
}

.happy-title {
    position:           absolute;
    top:                calc(50% - 8em);
    text-align:         center;
    width:              100%;
}

.happy-title h1 {
    font-family:        bebas, sans-serif;
    font-size:          750%;
    font-weight:        400;
    margin:             -20px 0;
}

.happy-title h4 {
    font-size:          130%;
    font-family:        helvetica, sans-serif;
    margin:             0;
}

.chevron {
    background-color:   rgb(253, 200, 21);
    height:             5px;
    width:              19px;
    margin:             30px auto;
}

#panel {
    position:           fixed;
    top:                0;
    left:               60%;
    height:             100%;
    width:              40%;
    z-index:            2;
    background:         white;
    border-left:        solid black;
    display:            none;
}
#panel img {
    max-width: 100%;
    max-height: 20em;
}

.member-name {
    font-size:          10px;
}
