@font-face {
    font-family:        bebas;
    src:                url('fonts/BebasNeue.otf');
}

@keyframes linedraw {
    from    {stroke-dashoffset: 1000;}
    to      {stroke-dashoffset: 0;}
}

body  {
    color:              rgb(253, 200, 21);
    stroke:             rgb(253, 200, 21);
    fill:               rgb(253, 200, 21);
    font-family:        helvetica, sans-serif;
}

line  {
    opacity:            0.6;
    stroke-dasharray:   1000 1000;
    stroke-dashoffset:  1000;
    animation:          linedraw forwards;
}

.node-name {
    font-family:        bebas, sans-serif;
    font-size:          32px;
}

.happy-title {
    position:           absolute;
    top:                calc(50% - 8em);
    text-align:         center;
    width:              100%;
}

.happy-title:hover {
	cursor:				pointer;
}

.happy-title h1 {
    font-family:        bebas, sans-serif;
    font-size:          750%;
    font-weight:        400;
    margin:             -20px 0;
}

.happy-title h4 {
    font-size:          130%;
    font-family:        helvetica, sans-serif;
    margin:             0;
}

.chevron {
    background-color:   rgb(253, 200, 21);
    height:             5px;
    width:              19px;
    margin:             30px auto;
}

#panel {
    position:           fixed;
    top:                0;
    right:              0;
    height:             100%;
    width:              100%;
    max-width:          350px;
    z-index:            2;
    background:         white;
    border-left:        solid black;
    display:            none;
}
#member img {
    width: 100%;
}
#panel .back {
    position: absolute;
    top: 1em;
    left: 1em;
    border: medium none;
    height: 2em;
    width: 2em;
    border-radius: 20px;
}

.member-name {
    font-size:          10px;
}

#contact {
    position:           absolute;
    border:             solid 1px;
    top:                10%;
    left:               10%;
    right:              10%;
    bottom:             10%;
    background:         white;
    padding:            2em;
    display:            none;
}

#manifeste{
	position:           absolute;
    border:             solid 1px;
    top:                10%;
    left:               10%;
    right:              10%;
    bottom:             10%;
    background:         white;
    padding:            2em;
    display:            none;
	text-align:			justify;
}

#manifeste h1{
	text-align: 		center;
}

#team-list {
    list-style: none;
}

#team-list li {
    border-bottom: 		solid 1px lightgray;
	padding-top:		10px;
	padding-bottom:		20px;
}

#team-list img {
    max-height: 		3em;
    border-radius: 		50px;
	display:			inline-block;
	vertical-align:		middle;
	min-width:			10%;
}

#team-list .members-infos{
	display: 			inline-block;
	vertical-align:		middle;
	width:				70%;
}

#team-list .members-fn{
	color:				black;
	font-weight:		bold;
}

#team-list .members-name{
	color:				RGB(211,211,211);
}

#team-list li:hover .members-name{
	color:				black;
	font-weight:		bold;
}

#unzoom{
	position: 			fixed;
	bottom:				50px;
	z-index:			200;
	background-color:	white;
	color:				rgb(253, 200, 21);
	border:				solid 2px rgb(253, 200, 21);
	padding-top:		10px;
	padding-bottom:		10px;
	padding-right:		20px;
	padding-left:		20px;
	font-family:        helvetica, sans-serif;
	border-radius:		10px;
	display:			none;
}