@font-face {
    font-family:        bebas;
    src:                url('fonts/BebasNeue.otf');
}

@keyframes linedraw {
    from    {stroke-dashoffset: 1000;}
    to      {stroke-dashoffset: 0;}
}

body  {
    color:              rgb(253, 200, 21);
    stroke:             rgb(253, 200, 21);
    fill:               rgb(253, 200, 21);
	background-color:	#3D3C37;
    font-family:        helvetica, sans-serif;
}

line  {
    opacity:            0.6;
    stroke-dasharray:   1000 1000;
    stroke-dashoffset:  1000;
    animation:          linedraw forwards;
}

.node-name {
    font-family:        bebas, sans-serif;
    font-size:          32px;
}

.happy-title {
    position:absolute;
	width: 400px;
	height: 200px;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
	left: 50%;
	text-align: center;
	transition: 0.5s;
	z-index:			-1;
}

.happy-unzoom {
    position:absolute;
	width: 150px;
	height: 50px;
	top: 20;
	left: 20;
	margin: 0;
	text-align: center;
	transition: 0.5s;
	z-index:			2;
}

.happy-unzoom:hover{
	cursor:				pointer;
}

.happy-title h1 {
    font-family:        bebas, sans-serif;
    font-size:          750%;
    font-weight:        400;
    margin:             -20px 0;
	transition: 		0.5s;
}

.happy-unzoom h1{
	font-family:        bebas, sans-serif;
	font-size: 			200%;
	font-weight:		40;
	margin:             2px 0;
	transition: 		0.5s;
}

.happy-title h4 {
    font-size:          130%;
    font-family:        helvetica, sans-serif;
    margin:             0;
	transition:			0.5s;
}

.happy-unzoom h4{
	font-size:			50%;
    font-family:        helvetica, sans-serif;
    margin:             0;
	transition:			0.5s;
}

.chevron {
    background-color:   rgb(253, 200, 21);
    height:             5px;
    width:              19px;
    margin:             30px auto;
	transition:			0.5s;
}

.happy-unzoom .chevron{
	height:				1px;
	width:				5px;
	margin: 			3px auto;
	transition:			0.5s;
}

#panel {
    position:           fixed;
    top:                0;
    right:              -350px;
    height:             100%;
    width:              100%;
    max-width:          350px;
    z-index:            2;
    background:         white;
    border-left:        solid 1px #3D3C37;
    display:            none;
}

#member img {
    width: 100%;
}

#member p , #project p{
	color:						black;
	padding-left:			20px;
	padding-right:			20px;
	text-align:				center;
}

#member .section-title, #project .section-title, #member .section-aligner span {
	font-family:				bebas, sans-serif;
}

#member a, #project a{
	color:					black;
}

#member ul {
	margin-left:	20px;
	color:				black;
}

#panel .back {
    position: 					absolute;
    top: 						1.1em;
    left: 							1em;
    width:						2em;
	transition:				1s;
}

#panel .back:hover {
	cursor:				pointer;
	transform:		rotate(90deg);
	transition:		1s;
}

#panel-title{
	text-align:		center;
	color:				black;
	width:				250px;
	margin-left:		auto;
	margin-right:	auto;
}

#project img{
	width: 			100%;
}

.member-name {
    font-size:          10px;
}

#contact {
    position:           	absolute;
    border:             	solid 1px rgb(253, 200, 21);
    top:                		10%;
    left:               		10%;
    right:              		10%;
    background:        	rgb(253, 200, 21);
	min-height:			400px;
    padding:          	2em;
    display:            	none;
	text-align:				center;
	font-family:	bebas, sans-serif;
	font-size:		150%;
	color:					white;
}

#contact .back, #manifeste .back {
    position: 					absolute;
    top: 						16px;
    right: 						1em;
	width:						2em;
	transition:				1s;
}

#contact .back:hover, #manifeste .back:hover {
	cursor:				pointer;
	transform:			rotate(90deg);
	transition:			1s;
}

#contact form{
	background-color:		white;
	margin:					auto;
	color:					black;
	width:					400px;
	padding:				20px 10px 10px 20px;
	text-align:				left;
	margin-bottom:			60px;
}

#contact hr{
	width:					100px;
	color:					lightgray;
}

#contact-happy{
	position: 		absolute;
	top:			20px;
	left:			20px;
}

#contact-infos{
	width:			100%;
	position:		absolute;
	left:			0;
	bottom:			20px;
}

#contactEtape1{
	display: 		none;
}

#contactEtape2{
	display: 		none;
}

#contactEtape3{
	display: 		none;
}

.contact-centre{
	text-align:		center;
	margin-bottom:	10px;
}

#contact label{
	display:			inline-block;
	margin-bottom:		10px;
}

#contact input{
	margin-bottom:		10px;
	border: 			0;
	outline: 			0;
	background: 		transparent;
	border-bottom: 		2px solid rgb(253, 200, 21);
	text-align:			right;
}

.contact-input{
	text-align: right;
}

.contact-input span {
	color:		rgb(253, 200, 21);
}

#contact .etapes{
	margin-top:		20px;
}


#manifeste{
	position:           absolute;
    border:             solid 1px;
    top:                10%;
    left:               10%;
    right:              10%;
	padding-bottom:		40px;
    background:         white;
    padding:            2em;
    display:            none;
	text-align:			center;
}

#manifeste p {
	color: black;
}

#manifeste h1{
	text-align: 		center;
}

#manifeste ul{
	list-style:		none;
	color:			RGB(211,211,211);
}

#manifeste b{
	color:			black;
}

#manifeste li:hover {
	color:			black;
}

#team-list , #project-list {
    list-style: none;
}

#team-list li, #project-list li {
    border-bottom: 		solid 1px lightgray;
	padding-top:		10px;
	padding-bottom:		20px;
}

#team-list img, #project-list img {
    max-height: 		3em;
    border-radius: 		50px;
	display:			inline-block;
	vertical-align:		middle;
	min-width:			10%;
}

#team-list .members-infos {
	display: 			inline-block;
	vertical-align:		middle;
	width:				70%;
	padding-left:		10px;
}

#team-list .members-fn {
	color:				black;
	font-weight:		bold;
}

#team-list .members-name {
	color:				RGB(211,211,211);
	transition:			color 2s, font-weight 2s;
}

#team-list li:hover{
	cursor:				pointer;
}

#team-list li:hover .members-name {
	color:				black;
	font-weight:		bold;
	transition:			0s;
}

#project-list span{
	color: 				black;
	font-weight:		bold;
	padding-left:		10px;
}

#project-list li:hover{
	cursor:				pointer;
}
